<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.dao.UserDao">
    <insert id="regist">
        insert into user (status,name,company,phone,system,email)
        values (#{status}, #{name}, #{company},#{phone},#{system},#{email})
    </insert>
    <update id="updateStatus">
        update user set status=#{status} where email=#{email}
     </update>
</mapper>